body {
  
  background: url(../src/images/GettyImages-887987150-5c770377c9e77c00011c82e6.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 
}